.border-color{
	border:1px solid #FBDAED;

}
body{
	font-family: Georgia,Helvetica,Arial,sans-serif;
	color:#673030;
}
a:hover{
	color: #673030;
}
.margin-top{
	margin-top:5px;
}
.margin-left40{
	margin-left: 40;
}

.imgSize{
	max-width: 70px;
	max-height: 70px;
	min-width: 60px;
	min-height: 70px;

}
.margin-bottom60{/*for checkout success*/
	margin-bottom: 60px;
}

.inputWidth{/*input field*/
	width: 50%;
}
.ideas-border{
	border-top-right-radius: 42px;/*blogai nes linijos negerai gaunas*/
	border-top-left-radius: 42px;
	border-bottom-left-radius: 42px;
	border-bottom-right-radius: 42px;
	overflow: hidden;
	background-color: #FBDAED;
}

.header-edit{
	/*width: 800px !important;*/
	/*height: 150px !important;*/
	border-radius:15px;
	overflow: hidden;
}
#listWidgetmargin{
	margin-right: 20px;
}
#listWidgetmargin > label>li:hover  {
	background-color: #673030;

	color: white;
}
#listWidgetmargin > label > li{
	padding: 5px;
	border-radius: 5px;
}

.ulclass{
	height: 100px;
	background-color: blue;
}

.labelHeight{
	min-height: 40px;
	max-height: 40px;
	overflow: hidden;
}

@media (min-width: 980px) and (max-width: 1200px) {
  .margin-left20{
  	margin-left: -25px;
  }	
   
}
.langButton{
	padding: 0px;
}
.fullWidthButton{
	display: block;
	width: 100%;
}
.fullWidthSelect{
	width: 100% !important; 
}

/*size for items price*/
.labelSize{
	font-size: 13pt;
	color: #673030;
	font-weight: bold;
}
/*display categories*/
.list-group-margin {
  padding-left: 0;
  margin-bottom: 0px !important;
}
.submenuBody{/*submenu border*/
	width: 90%;
	margin-top: 2px;
	/*border-left: 3px solid #FBDAED;*/
}

.float-right{
	float: right;
}
.list-subitem{
	padding: 2px 5px 5px 5px !important;
}

.list-menuitem{
	padding-right: 2px;
	padding-left: 2px;

}

.right-bar-edit{
	border-radius: 70px;/*paneles remai*/
 	padding-bottom: 80px;
}

.panel-edit{
	max-height: 230px;
	min-height: 230px;
}
.panel-edit-rent{
	max-height: 190px;
	min-height: 190px; 
}
.panel-edit-special{
	max-height: 461px;
	min-height: 461px;
}

.col-padding{
	padding-right: 0px !important;
  	padding-left: 0px !important;
}
/*main content*/
.ideas-edit{
	height: 150px;
	margin-bottom: 2px;
	border:none;


}.panel-success > .panel-hedingMainContent{
	border-top-left-radius: 42px;
  	border-top-right-radius: 42px;

	/*border:1px solid #673030;*/
}

/*slides*/

.bx-wrapper .bx-caption{
	background: #FBDAED;
	color:blue;
}
.bx-wrapper .bx-caption span{
	color:#673030;
	font-family: Georgia;
	font-size: 0.99em;
}
.bx-wrapper .bx-controls-direction a{/* hide nes/pev buttons on model pop up*/
	  z-index: 1;
}
.bx-wrapper{
	margin:0px auto 5px;
}
.bx-wrapper .bx-viewport{
	  border: 1px solid #fff;
}
.bx-default-pager{/*slides counter*/
	display: none;
}
/*navbar*/
.navbar-default{
	background-color: #FBDAED;/*rozine*/
  	border-color: #FBDAED;
}
.navbar-default .navbar-text{
	color: #673030;
}
.navbar-brand, .navbar-text{
	font-family: Georgia;
}
.btn-info{/*search button*/
	background-color: #673030;
  	border-color: #673030;
}
.form-control{
	border:1px solid #FBDAED;
}
.navbar-default .navbar-nav > li > a{
	color:#673030;
	font-size: 12pt;
}

.navbar-nav > li {
    font-family: Georgia !important;
  }
  .navbar-nav > li > a {
   font-family: Georgia !important;

  }
.navbar-default .navbar-brand{/*navbar logo*/
	color:#673030;
	font-size: 14pt;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #673030;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: white;
  background-color: #673030;
}
.bx-wrapper .bx-viewport{
	left:0px;
}
/*admin page*/

.adminImgSize{
	max-width: 50px;
	max-height: 50px;
	min-width: 50px;
	min-height: 50px;
	margin:auto;
}
.inputImage{
	width:200px;
	height:200px;
}
/*table td less padding*/
.table > tbody > tr > td{
	padding: 3px;
}
.row_width{
	max-width: 120px !important;
	word-wrap: break-word;
}
.btnLeft{
	margin-left: -15px;
}
.btnLeft1{
	margin-left: -12px;
}

#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable li { margin: 35 3px 3px 3px; cursor:move; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
#sortable li span { position: absolute; margin-left: -1.3em; }
/*gallery*/
.galleryImgSize{
	width: 150px;
	height: 115px;
	margin-left:10px;
	margin-bottom: 10px;
	border-radius: 40px;

}
.navbar-default .navbar-nav > li > a {

  font-family: Georgia !important;
}
.mainContentImgRadius{
	border-top-right-radius: 42px;
	border-bottom-right-radius: 42px;
	border-top-left-radius: 42px;
	border-bottom-left-radius: 42px; 
	width: 100%;
}
/*show items Bootstrap correction*/
/*test item 3 per page*/

.panel-body-edit{
	padding: 0px;
	overflow:hidden;
	word-wrap: break-word;
}
.panel-body-edit2{
	padding: 0px;
	overflow:hidden;
	word-wrap: none;
}
.overflowHidden{
	overflow: hidden;
}
/*Special offers*/
.special-offers-img{
	height: 150px;
	width: 100%;
}
.specialImgSize{
	width: 100px;
	height: 100px;
	margin:auto;
	display: block;
}


.container {
    margin-top: 10px;
}

.dropdown:hover .dropdown-menu {/*show dropdown menu*/
    display: block;
 }
.dropdown-menu{
	background-color: #FBDAED;
	font-size: 16px;
}

.dropdown-menu > li > a{
	padding: 10px;
}
.dropdown-menu > li > a:hover{
	background-color: #673030;
	color: white;
}

/*
.navbar-nav > li > a {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}*/

.nicEdit-panelContain{
	width: 500px !important;

}
/*
textarea{
	width: 500px !important;
	height: 200px !important;
}*/

/*footer*/
#footer{
	margin-top: 30px;
	margin-bottom: 20px;
}
.navbar-default{
	border-radius: 20px;
}

.navbar-default .navbar-form{
	border:none;
}